::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ddd;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #2196f3;
}

body {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.dataTables_wrapper .dataTables_filter input,
select {
  outline: unset !important;
}

.dataTables_wrapper .dataTables_filter input:focus {
  border-color: #2196f3;
}

.dt-button {
  background-color: #2196f3 !important;
  color: #fff !important;
  border: 1px solid #2196f3 !important;
}

.dataTables_length {
  margin-left: 12px;
}

table.dataTable.no-footer,
table td,
table,
th {
  border-bottom: 1px solid #dddd !important;
}

table tbody tr td {
  text-align: center;
  padding: 6px !important;
  font-size: 15px;
}

table tbody tr:hover {
  transition: all 0.4s;
  background: #f1f5fa !important;
}
.dataTables_paginate.paging_simple_numbers {
  margin: 12px 6px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #ddd !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: #ddd !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #2196f3 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #fff !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border: 1px solid transparent !important;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #2196f3 !important;
  color: #ffffff !important;
  border-color: #2196f3 !important;
}

.back-to-top.active {
  visibility: visible;
}

.cell {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: unset !important;
}
